@media (min-width: 600px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
@media (max-width:599px){

    .navBarPrincipal{
        margin-left: 18vw;
        a{
            text-align: center !important;
            font-size: 3.5vw;
        }
    }
    .cartWidget-container{
        margin-top: -0.5vw;
        margin-right: 18vw;
    }
    .navbar-toggler-icon{
        font-size: 3.5vw !important;
    }
}
@media (max-width:400px){
    .navbar-toggler-icon{
        font-size: 4vw !important;
    }
}