@media only screen and (max-width:480px){

    //CABECERO
    .cabecero{
        display: flex;
        flex-wrap: wrap;
        .tituloD{
            display: none;
        }
        .tituloI{
            display: none;
        }
        .tituloMobile{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 11vw;
            margin-top: 4vw;
        }
        .container-logoRose{
            width: 100%;
            text-align: center;
            .container2-logoRose{
                width: 35vw;
                margin: 0 auto;
            }
            p{
                font-size: 3vw;
            }
        }
    }

    // NAVBAR
    
    .navbar-container{
        align-items: flex-start;

        .navbar {
            font-size: 4vw;
        }
    }
    #referenciaMenu{
        font-size: 7vw !important;
    }
    .navbar{
        margin-right: -10vw !important;
        a{
            font-size: 5vw !important;
            text-align: center;
        }
    }
    .cartWidget-container{
        margin-right: 0vw !important;
    }



    //NUESTROS PRODUCTOS 
    .container-Nprods{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
    }

    .container-Nprods-left{
        margin-left: 0vw;
    }

    .container-Nprods-right{
        margin-right: 0vw;
        margin-left: 0vw;
    }



    // FOOTER

    .piePagina {


        .footer-inicial {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            background-color: #c7e5e3;
    
    
            img{
                width: 50vw;
            }
    
            .contacto{
                margin-top: 4vw;
                margin-bottom: 0;
                font-size: 4vw;
                justify-content: center;
                align-items: center;
                display: flex;
                p{
                    margin-bottom: 0;
                }
    
                a{
                    font-size: 3vw;
                }
            }
          
          }

          .copyright {
            text-align: center;
            margin: 0 auto;
            padding-top: 1vw;
            cursor: context-menu;
            font-size: 3vw;
            background-color: #c7e5e3;
          }
    }
    
    
    
      
}