@media only screen and (min-width:481px) and (max-width:960px){

    
    //NUESTROS PRODUCTOS 
    .container-Nprods{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
    }

    .container-Nprods-left{
        margin-left: 0vw;
    }

    .container-Nprods-right{
        margin-right: 0vw;
        margin-left: 0vw;
    }
    

       
    // NAVBAR
    
    .navbar-container{
        align-items: flex-start;

        .navbar {
            font-size: 4vw;
        }
    }


    
    // FOOTER

    .piePagina {


        .footer-inicial {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            background-color: #c7e5e3;
    
    
            img{
                width: 50vw;
            }
    
            .contacto{
                margin-top: 4vw;
                margin-bottom: 0;
                font-size: 4vw;
                justify-content: center;
                align-items: center;
                display: flex;
                p{
                    margin-bottom: 0;
                }
    
                a{
                    font-size: 3vw;
                }
            }
          
          }

          .copyright {
            text-align: center;
            margin: 0 auto;
            padding-top: 1vw;
            cursor: context-menu;
            font-size: 3vw;
            background-color: #c7e5e3;
          }
    }
    
}