@media (max-width:550px){

    .desc-card-tienda{
        display: none;
    }
    #fragancias{
        display: none;
    }
    .itemCountContainer{
        display: none;
    }
    .MuiPaper-root{
        width: 45%;
    }
    .css-46bh2p-MuiCardContent-root{
        width: 100% !important;
    }
}
@media (max-width:495px){
    .css-h93ljk-MuiTypography-root{
        height: 18vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}