@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@keyframes appearL{
    0%{
        margin-left: -1500px;
    }
    100%{
        margin-left: 2vw;
    }
}
@keyframes appearxL{
    0%{
        margin-left: -1500px;
    }
    100%{
        margin-left: 36vw;
    }
}

.container-Nprods{
    display: flex;
    flex-direction: column;
    margin-top: 12vw;
    color: #084444;
    width: 100%;
    .container-Nprods-left{
        display: flex;
        width: 60%;
        background-color: #c7e5e3;
        margin-bottom: 4vw;
        margin-left: 2vw;
        border-radius: 3vw;
        border: 6px black double;
        animation-name: appearL;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
    }
    .container-Nprods-right{
        display: flex;
        width: 60%;
        background-color: #c7e5e3;
        margin-bottom: 4vw;
        margin-right: 2vw;
        margin-left: 36vw;
        border-radius: 3vw;
        border: 6px black double;
        animation-name: appearxL;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
    }
    .container-photo{
        width: 30%;
        margin: 1vw;
        background-color: transparent;
        img{
            border-radius: 2vw;
            width: 100%;
            margin: 1vw;
        }
    }
    .container-Nprods-info{
        width: 65%;
        border-radius: 3vw;
        padding-right: 2vw;
        padding-left: 2vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        h2{
            text-align: center;
            margin: 1vw;
            font-size: 4vw;
            font-family: "Montserrat", sans-serif;
        }
        p{
            margin: 1vw auto;
            text-align: center;
            font-size: 1.8vw;
        }
    }
}