.container-bio{
    min-height: 40vw;
    width: 100%;
    margin-top: 8vw;
    color: #084444;
}
.biografia{
    margin: 5vw auto;
    text-align: center;
    border-right: 3px double #084444;
    border-left: 3px double #084444;
}
.biografia img{
    border-radius: 3vw;
    margin-bottom: 2vw;
}
.biografia p{
    margin: 2.5vw 5vw;
}