.css-1ri6ub7-MuiPaper-root-MuiCard-root{
    margin: 2vw;
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.css-46bh2p-MuiCardContent-root{
    padding: 1em 0.5em 0 0.5em;
}

.css-1t6e9jv-MuiCardActions-root{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.MuiPaper-root{
    .img-card-tienda{
        width: 100%;
        &:hover img{
            width: auto;
            height: auto;
        }
        &:hover + .css-46bh2p-MuiCardContent-root{
            display: none;
        }
    }
}
