.dashboard-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    .navegacion{
        font-size: 3.5vw;
        cursor: pointer;
        text-align: center;
    }
    .separacion{
        border-bottom: 2px solid black;
    }
    .navegacion-1{
        margin-top: 5vw;
        font-size: 2.8vw;
        margin-left: 1.5vw;
        .navegacion-1-1 .container{
            display: flex;
            align-items: center;
            margin-top: 1vw;
            text-align: center;
            .titulo{
                margin: 1vw;
                width: 20%;
            }
            .descripcion{
                width: 40%;
            }
            .id{
                width: 30%;
            }
            .container-img{
                width: 15%;
            }
            .button{
                font-size: 2vw;
                padding: 1vw;
                margin: 0.5vw;
                cursor: pointer;
            }
            .form-editar{
                display: none;
            }
        }
        .form-agregar-container{
            width: 100vw;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            background-color: rgba(126, 132, 207, 0.6);
            backdrop-filter: blur(2px);
            .form-agregar{
                width: 50%;
                display: flex;
                flex-direction: column;
                padding: 1vw;
                margin-top: 5%;
                margin-left: 25%;
                border-radius: 2vw;
                .cerrar{
                    font-size: 1.5vw;
                    margin: 1vw;
                    cursor: pointer;
                    &:hover{
                        color: blue;
                    }
                }
                .agregar{
                    font-size: 2vw;
                    margin: auto;
                    width: fit-content;
                    padding: 1vw;
                    background-color: blue;
                    color: white;
                    margin-top: 3vw;
                    cursor: pointer;
                    &:hover{
                        background-color: white;
                        color: blue;
                        border: 4px solid blue;
                    }
                }
                input{
                    width: 50%;
                    height: 2.5vw;
                    text-align: center;
                    margin: 2vw auto;
                    font-size: 1.5vw;
                    &:focus{
                        background-color: rgba(126, 132, 207);
                    }
                }
            }
        }
    }
}