.add-producto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;

        div{
            width: 50%;
            margin: 0.2em;
            .textfield-prod{
                width: 100%;
            }
        }
    }

    .actions-addproduct{
        button{
            background-color: #0b5a5a;
            color: white;
            padding: 0.9em;
            cursor: pointer;
            border-radius: 0.4em;
            margin: 1em;
        }
    }
}