.container-details-cart{
    width: 100vw;
    height: 100%;
    background-color: hsl(180, 79%, 15%,0.5);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0vw;
    left: 0vw;
    p{
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
    .boton-atras{
        background-color: transparent;
        font-size: 4vw;
        cursor: pointer;
        color: #dee6e6;
        background-color: hsl(180, 79%, 15%);
        padding-left: 4vw;
        padding-right: 4vw;
        width: fit-content;
        margin: 1.5vw auto;
        border-radius: 2vw;
        margin-top: 5vw;
    }
    .desc-card-tienda{
        display: flex !important;
    }
    #fragancias{
        display: flex !important;
    }
    .itemCountContainer{
        display: flex !important;
    }
    .add-cart-button{
        display: flex !important;
        margin-top: -1vw;
    }
    .MuiPaper-root{
        width: 60%;
        margin: auto;
        border-radius: 3vw;
    }
    .css-1pnmrwp-MuiTypography-root{
        font-size: 3vw;
    }
    .css-h93ljk-MuiTypography-root{
        margin-top: -2vw;
        font-weight: 600;
    }
    .img-card-tienda{
        &:hover img{
            width: 65%;
            height: auto;
            margin: auto;
        }
    }
}
