footer{
    bottom: 0;
    height: 0.1vw;
    
}
.piePagina {
    margin: auto;
    padding-top: 2vw;
    background-color: #c7e5e3;
}

.piePagina .footer-inicial {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2vw;
  background-color: #c7e5e3;

}

.piePagina .footer-inicial{
  margin-left: 3vw;
  
  div{
    background-color: transparent;

  }

}

.piePagina .footer-inicial img {
  width: 18vw
}

.contacto {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2vw;
  cursor: context-menu;
  background-color: #c7e5e3;
  p{
    background-color: #c7e5e3;
  }

}

.contacto-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  color: #084444;
  text-decoration: none;
  background-color: transparent;

}

.contacto-2:hover{
  color: white;
  text-decoration: none;
  background-color: #084444;
  border-radius: 0.7vw;
  padding: 0.2vw 0.5vw;
  margin: 0.5vw 0;
}

.contacto-3{
  text-align: center;
  background-color: #c7e5e3;

}

.piePagina .copyright {
  text-align: center;
  margin: 0 auto;
  padding-top: 1vw;
  cursor: context-menu;
  font-size: 1.2vw;
  background-color: #c7e5e3;
}

