.container-form-compra{
    display: flex;
    flex-direction: column;
}
.form-title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: "Montserrat", sans-serif;
    margin-top: 6vw;
    text-align: center;
}
.formtitle2{
    margin-top: 2vw;
}
.form-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10vw;
    margin-top: 5vw;
}

.form-actions{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
   
}
.input-span{
    display: flex;
    margin-left: 5vw;
    margin-bottom: 0.4vw;
    span{
        margin: auto;
        margin-left: 1.5vw;
        
    }
    input{
        font-size: 2vw;
        width: 35vw;
        margin-top: 0.5vw;
        padding-left: 1vw;
    }
}


.boton-validar{
    background-color: #489696;
    font-weight: 600;
    border-radius: 2vw;
    border: none;
    margin: 1.5vw;
    font-size: 1.8vw;
    padding-right: 1vw;
    padding-left: 1vw;
    &:hover{
        background-color: #dee6e6;
        color: #489696;
        border: 3px solid #489696;
    }
}
.boton-validar-sinHover{
    background-color: #489696;
    font-weight: 600;
    border-radius: 2vw;
    border: none;
    margin: 1.5vw;
    font-size: 1.8vw;
    padding-right: 1vw;
    padding-left: 1vw;
}
.validacion-mensaje{
    color: rgb(19, 70, 53);
    font-size: 1.2vw;
    margin-left: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

.radioButton{
    text-align: center;
    margin: 1vw;
    label{
        margin: 1vw;
        font-size: 2vw;
    }
    input{
        margin: 0.5vw;
    }
}