.form-title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: "Montserrat", sans-serif;
    margin-top: 4em;
}

.form-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70vw;
        padding-top: 4em;


        .form-input-title{
            width: 70%;
            display: flex;
            justify-content: flex-start;
            
            h2{
                font-family: "Montserrat", sans-serif;
            }
        }

        .formtitle2{
            margin-top: 2em;
        }
        
    
        .form-input{
            width: 70%;
            margin: 0.5em;
            .MuiInput-colorSecondary.MuiInput-underline:after {
                border-bottom-color: #0b5a5a;
            }
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
            }
        }
    
        .linkStyle{
            text-decoration: none;
        }
        button{
            font-family: "Montserrat", sans-serif;
            background-color: #0b5a5a;
            color: white;
            padding: 0.9em;
            cursor: pointer;
            border-radius: 0.4em;
            margin: 0.5em;
        }
    
    }
}

.form-actions{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
   
}

.boton-validar{
    background-color: #489696;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    margin: 5px 15px;
    font-size: 1.2vw;
    padding-right: 10px;
    padding-left: 10px;
}
.boton-validar:hover{
    background-color: aliceblue;
}
.validacion-mensaje{
    color: rgb(19, 70, 53);
    font-size: 1.2vw;
    margin-left: 5px;
}