.item-cart, .grid-container{
    font-family: "Montserrat", sans-serif;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    
    .grid-row{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2px;
        align-items: center;
        justify-content: center;
        
    }
    .borrar-item{
        margin-left: -2.2vw;
        width: 2vw;
        cursor: pointer;
        &:hover{
            background-color: #084444;
        }
    }
}


.item-cart{
    border-bottom: 0.1em solid #0000001c;
}