.Cart{
    margin-top: -2vw;
    width: 3.3vw;
    position: absolute;
    right: 0;
    margin-right: 5vw;
    z-index: 1;
  }
  
  .CantidadCart{
    background-color: #084444;
    text-align: center;
    color: white;
    width: 3vw;
    position: absolute;
    right: 0;
    margin-right: 2vw;
    z-index: 1;
  }
  .CantidadCart-mid{
    margin-top: 0.5vw;
  }
  
  .Cart-mid{
    width: 4vw;
  }
  .CantidadCart-sml{
    width: 3.2vw;
  }
  .Cart-sml{
    width: 5vw;
    margin-right: 6vw;
  }
  
  .CantidadCart-xsml{
    width: 5vw;
    font-size: 3.5vw;
  }
  .Cart-xsml{
    width: 7vw;
    margin-top: -4vw;
    margin-right: 7vw;
  }
  .CantidadCart-xxsml{
    font-size: 5vw;
    width: 6vw;
  }
  .Cart-xxsml{
    width: 10vw;
    margin-right: 9vw;
    margin-top: -4vw;
  }
  