
@import "index";
@import "carousel";
@import "carouselFragancia";
@import "cabecero";
@import "navbar";
@import "footer";


body {
    background-color: #dee6e6;
}
  
*{
    background-color: #dee6e6;
    padding: 0;
    margin: 0;
}